{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

<div class="login-page">
    <form method="post" class="login-form">
        {% csrf_token %}
        <h1>Recuperar Contraseña</h1>

        <p>Ingresa tu correo para enviarte un código de recuperación.</p>

        {% if messages %}
    {% for message in messages %}
        {% if "correo" in message.message %}
            <p class="mensaje-error">{{ message }}</p>
        {% endif %}
    {% endfor %}
{% endif %}

        <label>Correo</label>
        <input type="email" name="correo" placeholder="usuario@gmail.com" required>

        <button type="submit">Enviar código</button>
    </form>
</div>

</body>
</html>
