{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vehículos - ClickCar</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>

<header>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/LogoClickCar.png' %}" alt="Logo">
            </a>
        </div>

        <ul class="menu">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'products' %}">Productos</a></li>

            {% if request.session.usuario_rol == "admin" %}
                <li><a href="{% url 'lista_vehiculos' %}">Vehículos</a></li>
            {% endif %}

            <li><a href="{% url 'exit' %}">Salir</a></li>
        </ul>
    </nav>
</header>

<section class="panel-admin">

    <div class="panel-header">
        <h2>Lista de Vehículos</h2>
        <p>Gestión de la flota registrada en ClickCar</p>
    </div>

    <!-- Botón agregar -->
    <a href="{% url 'agregar_vehiculo' %}">
        <button class="btn-ver" style="margin-bottom: 20px;">+ Agregar Vehículo</button>
    </a>

    <!-- Tabla -->
    <table class="panel-table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Placa</th>
                <th>Color</th>
                <th>Precio/Día</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for v in vehiculos %}
            <tr>
                <td>{{ v.marca }}</td>
                <td>{{ v.modelo }}</td>
                <td>{{ v.anio }}</td>
                <td>{{ v.placa }}</td>
                <td>{{ v.color }}</td>
                <td>${{ v.precio_dia }}</td>
                <td>
                    <a href="{% url 'eliminar_vehiculo' v.id_vehiculo %}">
                        <button class="btn-ver" style="background:#ff4d4d;">Eliminar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</section>

</body>
</html>
